@import "./utilities/_root.scss";
@import "./utilities/_default-styles.scss";
@import "./utilities/_accents.scss";
@import "./utilities/_constants.scss";
@import "./utilities/_mixins.scss";

@import "./components/_navbar.scss";

body {
    width: 300px;
    height: 420px;
}

.app {
    background: var(--primary-background-color);
}

.app-content {
    width: calc(100% - 20px);
    padding: 10px;
}

fluent-input {
    width: 100%;
}