@import "./utilities/_root.scss";
@import "./utilities/_default-styles.scss";
@import "./utilities/_accents.scss";
@import "./utilities/_constants.scss";
@import "./utilities/_mixins.scss";

@import "./components/_spinner.scss";
@import "./components/_navbar.scss";

body {
    width: 300px;
    height: auto;
    display: inline-flex;
}

.app {
    background: var(--primary-background-color);
}

.app-content {
    width: calc(100% - 20px);
    padding: 10px;
    display: grid;
    grid-auto-rows: auto;
    gap: 10px;
}

section {
    width: calc(100% - 20px);
    padding: 10px;
    background: var(--secondary-background-color);
    border-radius: var(--border-radius);
}

.warning-text {
    width: calc(100% - 20px);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    background: var(--primary-background-color);
    color: #ff0000;
    margin: 10px 0;
    display: none;

    &.visible {
        display: block;
    }
}

#server-password {
    margin-bottom: 10px;
}

#video-title,
#connection-status {
    width: 100%;
    display: grid;
    grid-template-columns: 25px auto;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;

    img {
        width: 25px;
        height: 25px;
    }
}

.connection-control-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 100px;
    gap: 10px;
}

fluent-input, fluent-select {
    width: 100%;
}

#download-button {
    margin: 20px auto;
    display: table;

    &.hidden {
        display: none;
    }
}

#download-spinner {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    display: none;

    &.visible {
        display: flex;
    }
}